body {
    background-color: #000814;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.game-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
    text-align: center;
}

.game-info {
    position: absolute;
    top: 20px;
    right: 60px;
    text-align: right;
}

.attempts, .ships {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-primary);
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    gap: 2px;
    justify-content: center;
    margin: 80px auto 20px auto; 
}

.cell {
    width: 60px;
    height: 60px;
    background-color: #000814;
    border: 1px solid #999;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.2s;
    color: white;
}


.cell:hover {
    background-color: #00A22B; 
}


.cell.hit {
    background-color: #4CAF50; 
    color: white;
    cursor: default;
}

.cell.miss {
    background-color: #f44336; 
    color: white;
    cursor: default;
}


.cell.ship {
    background-color: #2196F3; 
}


.message {
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    place-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    z-index: 9999; 
    pointer-events: none; 
}


.message.success {
    background-color: transparent;
    color: #4682B4; 
    font-size: 40px;
}


.message.error {
    background-color: transparent;
    color: var(--color-primary); 
    font-size: 40px;
}

.restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.restart-btn:hover {
    background-color: #003566; 
}
