#stats-section {
    padding: var(--spacing-large);
}

#stats-section header {
    display: flex;
    align-items: center;
    gap: var(--spacing-medium);
}

#stats-container {
    margin-top: var(--spacing-xxlarge);
    display: flex;
    gap: var(--spacing-large);
    flex-wrap: wrap;
}

.stat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.stat-card p {
    font-size: var(--font-size-xxlarge);
    font: bold;
}

.stat-card h2 {
    color: var(--color-text);
    font-size: var(--font-size-small);
}